* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
    back
}

body {
    background-color: #F3F3F3;
}

header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px 11px 22px;
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 1px rgba(167, 167, 167, 0.3);
}

.icon-top-right{
    font-size: 45px;
}

footer{
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 27px 18px 18px 27px;
    box-shadow: 0px 0px 0px 1px rgba(167, 167, 167, 0.3);
}

footer ion-icon {
    height: 26px;
    width: 26px;
}

main{
    padding-top: 26px;
}

input {
    /* width: 75vw; */
    padding: 0;
    border: none;
    background: none;
}

button {
    padding: 0;
    border: none;
    background: none;
}

/*Message classes*/
div {
    padding-bottom: 4px;
    display: flex;
    padding: 0 9px 0 8px;
}

strong {
    font-weight: 700;
}

.inOut {
    background-color: #DCDCDC;
    font-size: 14px;
}

.message {
    font-size: 14px;
    background-color: #FFFFFF;
}

.pvtMessage {
    font-size: 14px;
    background-color: #FFDEDE;
}